body
{
    text-align: center;
    background-color: purple;
}



#startingimage
{

    border-radius: 50%;

}


#hobby
{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 30px;
}











